[submodule "app/submodule-database-manager"]
	path = app/submodule-database-manager
	url = https://github.com/Shivamgautam043/submodule-database-manager-postgres
[submodule "app/bifrost"]
	path = app/bifrost
	url = https://github.com/Shivamgautam043/bifrost.git
[submodule "app/submodule-common-type-definitons"]
	path = app/submodule-common-type-definitons
	url = https://github.com/Shivamgautam043/submodule-common-type-definitons.git
